.contatosFooter {
    background-color: #005695;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;

    nav{
        width: 15%;
        display: flex;
        justify-content: space-between;
    }
}

.copyrigth{
    background: #232020;
    color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p{
        font-size: 15px;
    }
}

@media (max-width:768px){

    .contatosFooter{
        flex-direction: column;
        justify-content: space-evenly;
        height: 20vh;

        nav{
            width: 60%;
        }
    }
     .copyrigth{
        height: 10vh;
        p{
            font-size: 12px;
            width: 60%;
            text-align: center;
        }
     }
}